Zambia STATA DHS/DHSCoordinates.dta
Zambia STATA DHS/Birth Recode/ZMBR71FL.DCT
Zambia STATA DHS/Birth Recode/ZMBR71FL.DO
Zambia STATA DHS/Birth Recode/ZMBR71FL.DTA
Zambia STATA DHS/Birth Recode/ZMBR71FL.FRQ
Zambia STATA DHS/Birth Recode/ZMBR71FL.FRW
Zambia STATA DHS/Birth Recode/ZMBR71FL.MAP
Zambia STATA DHS/Children's Recode/ZMKR71FL.DCT
Zambia STATA DHS/Children's Recode/ZMKR71FL.DO
Zambia STATA DHS/Children's Recode/ZMKR71FL.DTA
Zambia STATA DHS/Children's Recode/ZMKR71FL.FRQ
Zambia STATA DHS/Children's Recode/ZMKR71FL.FRW
Zambia STATA DHS/Children's Recode/ZMKR71FL.MAP
Zambia STATA DHS/Household Member Recode/ZMPR71FL.DCT
Zambia STATA DHS/Household Member Recode/ZMPR71FL.DO
Zambia STATA DHS/Household Member Recode/ZMPR71FL.DTA
Zambia STATA DHS/Household Member Recode/ZMPR71FL.FRQ
Zambia STATA DHS/Household Member Recode/ZMPR71FL.FRW
Zambia STATA DHS/Household Member Recode/ZMPR71FL.MAP
Zambia STATA DHS/Women's Recode/ZMIR71FL.DCT
Zambia STATA DHS/Women's Recode/ZMIR71FL.DO
Zambia STATA DHS/Women's Recode/ZMIR71FL.DOC
Zambia STATA DHS/Women's Recode/ZMIR71FL.DTA
Zambia STATA DHS/Women's Recode/ZMIR71FL.FRQ
Zambia STATA DHS/Women's Recode/ZMIR71FL.FRW
Zambia STATA DHS/Women's Recode/ZMIR71FL.MAP
